/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
    background: beige;
}

h1 {
    position: absolute;
    left: 300px;
    top: 80px;
}

#headerimage {
    position: absolute;
    left: 150px;
}

#headerimage2 {
    position: absolute;
    left: 575px;
}

.head {
    height: 40px;
    width: 100px;
}

img {
    height: 100px;
    width: 100px;
    background-color: white;
    float: left;    
}

#column {
    height: 150px;
    width: 120px;
    float: left;
    margin-top: 100px;
}

#altcolumn {
    height: 150px;
    width: 120px;
    float: left;
    margin-top: 100px;
}

.picture {
    padding: 1px;
    background-color: skyblue;
    margin-top: 50;
    float: left;
}

.picture2 {
    padding: 1px;
    float: left;
    background-color: skyblue;
    margin-top: 50;
}